<!DOCTYPE html>
<html>

<head>
	<title>Meadowlark Travel 3</title>
</head>

<body> 
       <header>
       	 	<a href = "/" >
       	 		 <img src="/img/logo.png" alt="Meadowlark Travel Logo">
       	 	</a>	
       </header>

       {{{body}}}
</body>

</html>